<a href="https://colab.research.google.com/github/jisoo-ahn/HOLA/blob/main/%EC%83%81_%ED%95%98%ED%95%9C%EA%B0%80_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

import pandas as pd
import numpy as np

Mounted at /content/drive

In [ ]:
upperdown = pd.read_excel('drive/My Drive/stockanalysis/upperdown.xlsx',header=0)
upperdown

In [ ]:
upper_num = upperdown['상한가 종목들 중복 제거'].count()
under_num = upperdown['하한가 종목들 중복 제거'].count()

In [ ]:
upper_names = upperdown['상한가 종목들 중복 제거'].iloc[0:upper_num]
under_names = upperdown['하한가 종목들 중복 제거'].iloc[0:under_num]
#upper_data = pd.merge(upper_name, "0"*upper_num.T)
upper_names

In [ ]:
ucolumns = ['상위 10위 종목','상위 10위 등극 횟수']
ncolumns = ['하위 10위 종목', '하위 10위 등극 횟수']
#upper_sum = upper_names

upper_sum = pd.DataFrame()

uanalysis = pd.DataFrame(columns=ucolumns)
uanalysis['상위 10위 종목'] = upper_names

nanalysis = pd.DataFrame(columns=ncolumns)
nanalysis['하위 10위 종목'] = under_names

d = 0
for i in upper_names : 
  uanalysis.iloc[d,1] = sum(upperdown['상한가'] == i)
  d = d+1

t = 0
for i in under_names : 
  nanalysis.iloc[t,1] = sum(upperdown['하한가'] == i)
  t = t+1

In [ ]:
sort_nan = nanalysis.sort_values(by='하위 10위 등극 횟수',ascending=False)
sort_uan = uanalysis.sort_values(by='상위 10위 등극 횟수',ascending=False)

In [ ]:
sort_uan

    상위 10위 종목 상위 10위 등극 횟수
4          성안            3
0         필룩스            2
1       신세계건설            2
7        현대위아            2
17        에스엘            2
15      금호석유우            2
32     WISCOM            2
31  케이비아이동국실업            1
26    두산퓨얼셀1우            1
27      태경케미컬            1
28   두산퓨얼셀2우B            1
29       덕양산업            1
30     롯데하이마트            1
33    오리엔트바이오            1
24    한일현대시멘트            1
34       동원금속            1
35    SK네트웍스우            1
36     코리아써키트            1
37     SK네트웍스            1
38        디와이            1
39    쎌마테라퓨틱스            1
40       조광피혁            1
25       남광토건            1
21      풍산홀딩스            1
23       세방전지            1
22        기아차            1
2        한농화성            1
3       수산중공업            1
5      LG헬로비전            1
6        하이트론            1
8    에쓰씨엔지니어링            1
9        동일제강            1
10     상신브레이크            1
11      대유에이텍            1
12      LG전자우            1
13     S&T모티브            1
14       신화실업            1
16       한국단자            1
18     현대글로비스            1
19        디피씨            1
20    키다리스튜디오            1
41       LG전자            1